<a href="https://colab.research.google.com/github/sevilkck/Masterschool-Unicorn-Project/blob/main/Unicorn_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
!pip install sqlalchemy psycopg2-binary pandas

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.41)
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.11/dist-packages (2.9.10)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.14.1)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [34]:
import pandas as pd
from sqlalchemy import create_engine

# Define your connection string
connection_string = "postgresql+psycopg2://Test:bQNxVzJL4g6u@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Unicorn"

# Create a SQLAlchemy engine
engine = create_engine(connection_string)

# Test connection: Load first 5 rows from a sample table (replace with your actual table)
try:
    df = pd.read_sql("SELECT * FROM customers LIMIT 5;", con=engine)
    print(df)
except Exception as e:
    print("Connection or query failed:", e)

   customer_id    customer_name customer_segment
0            1    Aaron Bergman         Consumer
1            2    Aaron Hawkins        Corporate
2            3   Aaron Smayling        Corporate
3            4  Adam Bellavance      Home Office
4            5        Adam Hart        Corporate

In [35]:
# Question 1: How many customers do we have in the data?

query = """
SELECT COUNT (customer_id) AS total_num_customer
FROM customers;
"""
# As customer_id is unique, I didn`t write the query based on COUNT(DISTINCT customer_id)
# Execute the query using pandas and the existing engine
total_customers_df = pd.read_sql(query, con=engine)

# Display the result
print(total_customers_df)

   total_num_customer
0                 795

In [36]:
# Question 2: What was the city with the most profit for the company in 2015?

query = """
SELECT o.shipping_city, '$' || TO_CHAR(SUM(od.order_profits), '999,999,990.00') AS total_profit
FROM orders o
JOIN order_details od
USING (order_id)
WHERE EXTRACT(YEAR FROM o.order_date) = 2015
GROUP BY o.shipping_city
ORDER BY total_profit DESC
LIMIT 1;
"""

# We first join the orders and order_details tables using the order_id
# Then, we filter the data to only include orders placed in the year 2015
# By grouping the results by city and summing the profit column, we can rank cities by total profit and identify the top-performing location in that year

# Execute the query using pandas and the existing engine
city_most_profit_df = pd.read_sql(query, con=engine)

# Display the result
print(city_most_profit_df)

   shipping_city      total_profit
0  New York City  $      14,753.00

In [37]:
# Question 3: In 2015, what was the most profitable city's profit?

import pandas as pd # Import pandas

query = """
SELECT o.shipping_city, '$' || TO_CHAR(SUM(od.order_profits), '999,999,990.00') AS highest_profit
FROM orders o
JOIN order_details od
USING (order_id)
WHERE EXTRACT(YEAR FROM o.order_date) = 2015
GROUP BY o.shipping_city
ORDER BY highest_profit DESC
LIMIT 1;
"""
# This query identifies the highest profit of the most profitable city in 2015 by joining orders with order_details
# First we join the orders with order_details  using order_id to access profit values
# Filtering orders placed in 2015
# Grouping the orders together by city name
# It then calculates the total profit for each specific city by summing the profit values from the order_details table
# This helps quantify the financial impact of the top-performing city in that year

# Execute the query using pandas and the existing engine
most_profitable_city_profit_df = pd.read_sql(query, con=engine)

# Display the result
print(most_profitable_city_profit_df)

   shipping_city    highest_profit
0  New York City  $      14,753.00

In [38]:
# Question 4: How many different cities do we have in the data?
# Please refer just to the city name and not similar city names in different states

query = """
SELECT COUNT(DISTINCT shipping_city) AS unique_cities
FROM orders;
"""
# This query retrieves the number of distinct values in the shipping_city column of the orders table
# By using the DISTINCT keyword, we ensure that each city name is only counted once, regardless of how many times it appears
# Since the question specifically asks to count unique city names without differentiating between cities in different states, we avoid using both city and state in combination.
# This provides a simplified view of geographical reach based on city names alone

# Execute the query using pandas and the existing engine
unique_cities_df = pd.read_sql(query, con=engine)

# Display the result
print(unique_cities_df)

   unique_cities
0            531

In [39]:
# Question 5: What is the most profitable city in the State of Tennessee?

query = """
SELECT o.shipping_city, '$' || TO_CHAR(SUM(od.order_profits), '999,999,990.00') AS total_profit
FROM orders o
JOIN order_details od
USING (order_id)
WHERE o.shipping_state = 'Tennessee'
GROUP BY o.shipping_city
ORDER BY SUM(od.order_profits) DESC
LIMIT 1;
"""

# Execute the query using pandas and the existing engine
most_profitable_city_tennessee_df = pd.read_sql(query, con=engine)

# Display the result
print(most_profitable_city_tennessee_df)

  shipping_city      total_profit
0       Lebanon  $          83.00

In [40]:
# Question 6: What is the distribution of customer types in the data?

query = """
SELECT customer_segment, COUNT(customer_id) AS total_customer_distribution
FROM customers
GROUP BY customer_segment;
"""

# This query retrieves the distribution of customer segments from the customers table
# Grouping customers by segment type
# Counts how many customers belong to each segment by customer_id
# Shows total number of customers per segment category

# Execute the query using pandas and the existing engine
customer_distribution_df = pd.read_sql(query, con=engine)

# Display the result
print(customer_distribution_df)

  customer_segment  total_customer_distribution
0         Consumer                          410
1        Corporate                          237
2      Home Office                          148

In [41]:
# Question 7: Which was the biggest order regarding sales in 2015?

query = """
SELECT o.order_id,  '$' || TO_CHAR(SUM(od.order_sales), '999,999,990.00') AS total_sales
FROM order_details od
JOIN orders o
USING (order_id)
WHERE EXTRACT(YEAR FROM o.order_date) = 2015
GROUP BY o.order_id
ORDER BY total_sales DESC
LIMIT 1;
"""

# Joining order_details which has order_details with orders which has order_date using order_id
# Filtering for orders placed in 2015
# Grouping date by order_id to get total_sales per order
# Formatting sales with a $ sign using TO_CHAR
# Sorting by total_sales in DESC
# Returning the single highest sales order from 2015

# Execute the query using pandas and the existing engine
biggest_order_2015_df = pd.read_sql(query, con=engine)

# Display the result
print(biggest_order_2015_df)

         order_id       total_sales
0  CA-2015-145317  $      23,660.00

In [42]:
# Question 8: Display customer names for customers who are in the segment ‘Consumer’ or ‘Corporate.’
# How many customers are there in total?

query = """
SELECT COUNT(DISTINCT customer_id) AS total_customer
FROM customers
WHERE customer_segment IN('Consumer','Corporate');
"""

# Filtering customers in 'Consumer' and 'Corporate' segments
# Counts how many unique customer names exist in those two segments
# Using DISTINCT to avoid counting the same name more than once.

# Execute the query using pandas and the existing engine
customer_count_consumer_corporate_df = pd.read_sql(query, con=engine)

# Display the result
print(customer_count_consumer_corporate_df)

   total_customer
0             647

In [43]:
# Question 9: Calculate the difference between the largest and smallest order quantities for product id ‘100.’

query = """
SELECT MAX(quantity) AS max_quantity, MIN(quantity) AS min_quantity,
MAX(quantity) - MIN(quantity) AS quantity_difference
FROM order_details
WHERE product_id = 100;
"""

# Starting from the order_details table
# Filtering rows for product with ID 100
# Finding the highest and lowest quantity sold for that product
# Calculating the difference between the max and min

# Execute the query using pandas and the existing engine
quantity_difference_df = pd.read_sql(query, con=engine)

# Display the result
print(quantity_difference_df)

   max_quantity  min_quantity  quantity_difference
0             6             2                    4

In [44]:
# Question 10:Calculate the percent of products that are within the category ‘Furniture’.

query = """
SELECT
pc.total_product,
pc.product_category,
sc.total_sum,
ROUND(pc.total_product*100.0/sc.total_sum, 2) AS percentage
FROM (
  SELECT COUNT(*) AS total_product, product_category
  FROM product
  WHERE product_category = 'Furniture'
  GROUP BY product_category
  ) pc
  CROSS JOIN (
    SELECT COUNT(*) AS total_sum
    FROM product) sc;
"""

# Created two separate queries and packed them in subquerries
# pc = product count // This subquery counts how many products exist in each category
# sc = sum count // This subquery calculates the total number of products overall
# As each subquery runs independently, CROSS JOIN is used to attach the total product count( which is only one row)
# to each product category row, allowing percentage calculation

# Execute the query using pandas and the existing engine
furniture_percentage_df = pd.read_sql(query, con=engine)

# Display the result
print(furniture_percentage_df)

   total_product product_category  total_sum  percentage
0            380        Furniture       1850       20.54

In [45]:
# Question 11: 11.Display the manufacturers with more than 1 product in the product table, with their number of products.
# Note: Do not sort your results, and do not use distinct because it affects output order.

query = """
SELECT product_manufacturer, COUNT(product_id) AS num_of_products
FROM product
GROUP BY product_manufacturer
HAVING  COUNT(product_id)>1;
"""

# Starting with the product table
# Grouping products by manufacturer name
# Counting how many products each manufacturer has
# DISTINCT is avoided as requested, and no sorting is applied

# Execute the query using pandas and the existing engine
manufacturers_with_more_than_one_product_df = pd.read_sql(query, con=engine)

# Display the result
print(manufacturers_with_more_than_one_product_df)

    product_manufacturer  num_of_products
0                 Linden                2
1                Iceberg                3
2                SanDisk                8
3                Memorex               13
4                Bulldog                2
..                   ...              ...
164              Brother                2
165           Strathmore                3
166              Fiskars                4
167             OtterBox                4
168           Pressboard                4

[169 rows x 2 columns]

In [46]:
# Question 12:Show the product_subcategory and the total number of products in the subcategory.
# Show the order for the most to least number of products.

query = """
SELECT product_subcategory, COUNT(*) AS product_count
FROM product
GROUP BY product_subcategory
ORDER BY product_count DESC;
"""

# Starting from the product table
# Grouping all products by their subcategories
# Counting how many products are in each subcategories
# Sorting subcategories from most to least number of products

# Execute the query using pandas and the existing engine
product_subcategory_count_df = pd.read_sql(query, con=engine)

# Display the result
print(product_subcategory_count_df)

   product_subcategory  product_count
0                Paper            277
1              Binders            211
2               Phones            189
3          Furnishings            186
4                  Art            157
5          Accessories            147
6              Storage            132
7           Appliances             97
8               Chairs             88
9               Labels             70
10            Machines             63
11              Tables             56
12           Bookcases             50
13           Envelopes             44
14            Supplies             36
15           Fasteners             34
16             Copiers             13

In [47]:
# Question 13: Show the product_id(s), the sum of quantities, where for each sale of product quantities is greater than or equal to 100.

query = """
SELECT product_id, SUM(quantity) AS total_quantity
FROM order_details
WHERE quantity >=100
GROUP BY product_id;
"""

# Starting from the order_details table
# Filtering only rows where quantity is 100 or more
# Grouping the remaining rowss by product ID

# Execute the query using pandas and the existing engine
product_quantity_df = pd.read_sql(query, con=engine)

# Display the result
print(product_quantity_df)

   product_id  total_quantity
0         122           143.0
1         920           130.0
2        1507           324.0
3        1600           216.0

In [48]:
# Bonus question:
# Join all database tables into one dataset that includes all unique columns and download it as a .csv file.

query = """
SELECT
c.customer_id,
c.customer_name,
c.customer_segment,
o.order_id,
o.order_date,
o.shipping_city,
o.shipping_state,
o.shipping_region,
o.shipping_country,
o.shipping_postal_code,
o.shipping_date,
o.shipping_mode,
od.order_details_id,
od.product_id,
od.quantity,
od.order_discount,
od.order_profits,
od.order_profit_ratio,
od.order_sales,
p.product_name,
p.product_category,
p.product_subcategory,
p.product_manufacturer

FROM customers c
JOIN orders o
USING (customer_id)
JOIN order_details od
USING (order_id)
JOIN product p
USING (product_id);
"""

# Execute the query using pandas and the existing engine
joined_data_df = pd.read_sql(query, con=engine)

# Save the DataFrame to a CSV file
joined_data_df.to_csv('joined_database.csv', index=False)

print("Joined data saved to 'joined_database.csv'")

Joined data saved to 'joined_database.csv'